.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logoelem{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.logo1{
    height: 50px;
    width: auto;
}
.cart{
    font-size: x-large;
}
.cart1{
    font-size: x-large;
    padding-top: 10px;
}
.menubar{
    display: none;
}
@media (max-width:1024px) {
    .nav{
        display: none;
    }
    .menubar{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .cart{
        display: flex;
        gap: 20px;
    }
}
.signinbut{
    display: flex;
    gap: 20px;
}
.signupbut{
    background-color: rgb(252, 41, 71); 
    color: rgb(255, 255, 255);
}
.signinbut > button{
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 50px;
}
.elem{
    padding: 15px 10px;
    border-radius: 30px;
    
}

.elem:hover  {
    background-color: rgb(232, 232, 232);
    
    
}