body{
    font-family:'Poppins',sans-serif;
}
.i1{
    width: 100%;
}

.about{
    font-size: larger; 
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(86, 102, 131);
}
.b1{
    background-color: rgb(232, 232, 232);
    height: 50px;
    width: 200px;
    font-size: large;
    border-radius: 10px;
    border: none;
}
.b2{
    background-color: rgb(252, 41, 71);
    color: rgb(255, 255, 255);
    height: 50px;
    width: 200px;
    font-size: large;
    border-radius: 10px;
    border: none;
}
.sp1{
    border-bottom: solid 2px rgb(254, 161, 22);
}
.sp2{
    border-bottom: solid 2px rgb(47, 141, 70);
}
.sp3{
    border-bottom: solid 2px rgb(50, 199, 102);
}
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.name{
    font-size: 50px;
    font-weight:500;
    color: rgb(252, 41, 71);
    text-align: center;
}
