@import '@fortawesome/fontawesome-free/css/all.min.css';

.promheading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.bo{
    color: rgb(86, 102, 131);
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.gridit{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #fff;
    padding: 0;
    max-width: 380px;
}
.head{
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
}
